* {
  box-sizing: border-box;
/*  border: thin solid black; */
}

body { margin: 0; }

#page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#caja1 {
  grid-column: 1 / 5;
  grid-row: 1;

  background-color: #008ff8;
  height: 18em;
  background-image: url(work.jpg);
 }

#caja1 > h1, #caja1 {
text-align: center;
}

 .portada {
   color: black;
   text-align: center;
 }
#mini {
  color: black;
  text-align: left;
  margin-left: 1em;
}

#caja2 {
   grid-column: 1 / 5;
   grid-row: 2;


   background-color: #f5f5f5;
  }

#caja2 > h1, #caja2 > p {
  text-align: center;
  }

.cards {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 1em;
    margin: 1em;
  }

.card {
    background-color: white;
    border: thin solid #dadada;
  }

#caja3 {
  grid-column: 1 / 5;
  grid-row: 3;
  background-color: white;
  height: auto;
}

#caja3 > h1, #caja3 > p, #caja3 {
text-align: center;
}

.boton {
  text-align: center;
  color: #3cadd5;
}

.names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 1em;
  margin: 1em;
  text-align: left;
  margin: 0 auto;
}

.name {
  background-color: white;
  border: thin solid #dadada;
}


#caja4 {
  grid-column: 1 / 5;
  grid-row: 4;

  background-color: #3cadd5;
  padding-bottom: 2em;
}

#caja4 > h1, #caja4 > p, #caja4 {
text-align: center;
color: white;
}

.textos {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(3em, auto);
  text-align: center;
  grid-column-gap: 0em;
  width: 50%;
  margin: 0 auto;
}

.comentarios {
  grid-column-start: 1;
  grid-column-end: 3;
  min-width: 100%;
  min-height: 10em;
}

.espacios {
  text-align: center;
  padding: 1em;
  margin: 1em;
}

#boton3 {
  text-align: center;
  color: black;
}

#caja5 {
  grid-column: 1 / 5;
  grid-row: 5;

  background-color: #383b44;
}

.creds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;

  padding: 1em;
  margin: 1em;
  margin: 0 auto;
}

.cr {
  color: white;
  padding: 1em;
  margin: 1em;
}

#caja6 {
  grid-column: 1 / 5;
  grid-row: 3;

  background-color: #383b44;
}
.redes {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 20em;
}
#instagram > a > img {
  display: grid;
  height: 4em;
  width: 4em;
}

#facebook > a > img {
  display: grid;
  height: 4em;
  width: 4em;
}

#twitter > a > img {
  display: grid;
  height: 4em;
  width: 7em;
}

.name-left {
  float: left;
}

.name-right {
  float: left;
  position: relative;
  padding: 1em;
  left: 1em;
}

.fotos {
  border-radius: 50%;
  left: 0;
  width: 5em;
  position: relative;
  top: 1.5em;
  left: 1em;
}
